{% if content %}
  <div class="events-slider">
    <div class="eventkalender-link">
      <a href="https://www.visitfredericia.dk/events" target="_blank">Se alle begivenheder<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
    {% if paragraph.field_show_recent_events.value %}
      {% if latest_events %}
        <div class="swiper-events">
          <div class="swiper-wrapper">
            {% for node in latest_events %}
              <div class="swiper-slide event-item">
                <div class="event-item swiper-slide">
                  {# Display fields from the event content type #}
                  <a class="event-image-link" href="{{ node.field_os2web_event_url.value }}" target="_blank">
                    <div class="event-image">
                      <img src="{{ file_url(node.field_os2web_evnet_image.entity.fileuri) }}" alt="{{ node.field_os2web_evnet_image.alt }}" />
                    </div>
                  </a>
                  <div class="event-date">
                    {% if node.field_os2web_event_start_date %}
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      {{ node.field_os2web_event_start_date.value|date("d/m/Y H:i") }}
                    {% endif %}
                  </div>
                  <a class="event-heading-link" href="{{ node.field_os2web_event_url.value }}" target="_blank">
                    <h2>{{ node.label }}</h2>
                  </a>
                  <div class="event-resume">
                    {% set resume_text = node.field_os2web_event_resume.value|striptags %}
                    {% if resume_text|length > 100 %}
                      {{ resume_text|slice(0, 100) ~ '...' }}
                    {% else %}
                      {{ resume_text }}
                    {% endif %}
                  </div>
                  <div class="event-link">
                    <a href="{{ node.field_os2web_event_url.value }}" target="_blank">Læs mere</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      {% endif %}
    {% else %}
      <div class="handpicked-events swiper-events">
        <div class="swiper-wrapper">
        {% for item in paragraph.field_event_ref %}
          <div class="event-item swiper-slide">
            {# Display fields from the event content type #}
            <a class="event-image-link" href="{{ item.entity.field_os2web_event_url.value }}" target="_blank">
              <div class="event-image">
                <img src="{{ file_url(item.entity.field_os2web_evnet_image.entity.fileuri) }}" alt="{{ item.entity.field_os2web_evnet_image.alt }}" />
              </div>
            </a>
            <div class="event-date">
              {% if item.entity.field_os2web_event_start_date %}
                <i class="fa fa-calendar" aria-hidden="true"></i>
                {{ item.entity.field_os2web_event_start_date.value|date("d/m/Y H:i") }}
              {% endif %}
            </div>
            <a class="event-heading-link" href="{{ item.entity.field_os2web_event_url.value }}" target="_blank">
              <h2>{{ item.entity.label }}</h2>
            </a>
            <div class="event-resume">
              {% set resume_text = item.entity.field_os2web_event_resume.value|striptags %}
              {% if resume_text|length > 100 %}
                {{ resume_text|slice(0, 100) ~ '...' }}
              {% else %}
                {{ resume_text }}
              {% endif %}
            </div>
            <div class="event-link">
              <a href="{{ item.entity.field_os2web_event_url.value }}" target="_blank">Læs mere</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
  </div>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const swiper = new Swiper('.swiper-events', {
      // Optional parameters
      slidesPerView: 1,
      spaceBetween: 10,
      observer: true,
      observeParents: true,
      // Responsive breakpoints
      breakpoints: {
        992: {
          slidesPerView: 4,
          spaceBetween: 25
        }
      },
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>
