{% set classes = [
  'spotbox',
  'spotbox--' ~ spotbox_type,
  background_color ? ('spotbox--background-color-' ~ background_color),
] %}

{# Determine the image to display: Direct image or Media library image #}
{% set image_output = content.field_os2web_spotbox_bg_image %}
{% set media_image_url = null %}

{# Check if there's a direct image; if not, try to get the Media library image #}
{% if image_output|render|striptags|trim is empty and content.field_os2web_spotbox_media_img %}
  {% set media_entity = content.field_os2web_spotbox_media_img.0['#media'] %}
  {% if media_entity and media_entity.field_media_image %}
    {% set media_image_file = media_entity.field_media_image.entity %}
    {% if media_image_file %}
      {% set media_image_url = file_url(media_image_file.fileuri) %}
      {# Create an image render array for the media image #}
      {% set image_output = {
        '#theme': 'image',
        '#uri': media_image_url,
        '#alt': media_entity.field_media_image.alt,
      } %}
    {% endif %}
  {% endif %}
{% endif %}

<a href="{{ spotbox_url }}" {{ attributes.addClass(classes) }}>
  <div class="spotbox__image">
    {{ image_output }}
  </div>
  <div class="spotbox__content">
    <div class="spotbox__arrow">
      {% include '@fds_fredericia_main_theme/src/images/svg-icons/arrow-right.svg' %}
    </div>
    <div class="spotbox__heading">
      <h3 class="h4">{{ spotbox_heading }}</h3>
    </div>
    <div class="spotbox__link_text">
      {{ content.field_os2web_spotbox_link_text }}
    </div>
  </div>
</a>
