{% set classes = [
  'spotbox',
  'spotbox--' ~ spotbox_type,
  background_color ? ('spotbox--background-color-' ~ background_color),
] %}


<a href="{{ spotbox_url }}" {{ attributes.addClass(classes) }}>
  <div class="spotbox__image">
    {% if content.field_os2web_spotbox_bg_image is not empty %}
    {{ content.field_os2web_spotbox_bg_image }}
    {% elseif content.field_os2web_spotbox_media_img is not empty %}
    {{ content.field_os2web_spotbox_media_img }}
    {% endif %}
  </div>
  <div class="spotbox__content">
    <div class="spotbox__arrow">
      {% include '@fds_fredericia_main_theme/src/images/svg-icons/arrow-right.svg' %}
    </div>
    <div class="spotbox__heading">
      <h3 class="h4">{{ spotbox_heading }}</h3>
    </div>
    <div class="spotbox__link_text">
      {{ content.field_os2web_spotbox_link_text }}
    </div>
  </div>
</a>
