{% block paragraph %}

    {%
        set classes = [
        'block',
        'block-' ~ configuration.provider|clean_class,
        'block-' ~ plugin_id|clean_class,
        'front-search'
    ]
    %}

    <div{{attributes.addClass(classes)}}>
    {% block content %}
        <div class="row slider-text">
            <div class="col-2">&nbsp;</div>
            <div class="col-4 soeg-block-top-content">
                    <h1>{{ content.field_headline }}</h1>
                    {{ content.field_description }}
                    <form
                            block="os2web_search_page_form_content_front_page"
                            action="/s"
                            method="get" id="views-exposed-form-os2web-search-os2web-search-page"
                            accept-charset="UTF-8"
                    >
                        <div class="form--inline clearfix">
                            <div class="form-group form-item js-form-item form-type-search-api-autocomplete js-form-type-search-api-autocomplete form-item-sq js-form-item-sq form-no-label">
                                <input
                                        placeholder="{{ "Insert search word"|trans }}"
                                        class="search-input__input form-autocomplete form-text form-input ui-autocomplete-input"
                                        data-drupal-selector="edit-sq"
                                        data-search-api-autocomplete-search="os2web_search"
                                        data-autocomplete-path="/search_api_autocomplete/os2web_search?display=os2web_search_page&amp;&amp;filter=sq"
                                        type="text"
                                        id="edit-sq"
                                        name="sq"
                                        value=""
                                        size="100%"
                                        maxlength="128"
                                        aria-label="Indtast søgeord"
                                        data-once="autocomplete" autocomplete="off"
                                >
                            </div>
                        </div>
                    </form>
            </div>
            <div class="col-1 "></div>
            <div class="col-5 ">
                {{ content.field_image }}
            </div>
        </div>
    {% endblock %}
    </div>

{% endblock paragraph %}