{%
  set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
<div {{ attributes.addClass(classes).addClass(_context['#page_category_class']) }}>
	<div class="field--type-link">
		<a href="{{ url }}">
			<h4>{{ label }}</h4>

			<div>
				{{ content }}
			</div>

			<br>
			<div class="search-results-bread-crumbs">
			{% for sectionLabel in _context['#section_labels'] %}
				{{ sectionLabel }}
				{% if not loop.last %}
					>
				{% endif %}
			{% endfor %}
			</div>


			{# {{ 'Read more' | trans }} #}
		</a>
	</div>
</div>
