{#  #}
{% macro link_color_class(color_value) %}
  {% if color_value == 'red_focusbox_link' %}
    {{ 'red-link-class' }}
  {% elseif color_value == 'lightred_focusbox_link' %}
    {{ 'lightred-link-class' }}
  {% elseif color_value == 'blue_focusbox_link' %}
    {{ 'blue-link-class' }}
  {% elseif color_value == 'lightblue_focusbox_link' %}
    {{ 'lightblue-link-class' }}
  {% else %}
    {{ '' }}
  {% endif %}
{% endmacro %}

{% import _self as macros %}

<div class="sidebar-accordion-wrapper">
  <div class="sidebar-accordion__inner-wrapper">
    <div class="sidebar">
      <ul class="sidebar-list">
        {% if paragraph.field_focusbox_heading_1 is not empty %}
          <li class="sidebar-item">
        <span>

          <span class="sidebar-heading-text">{{ content.field_focusbox_heading_1 }}</span>
          </span>
            <i class="fa-solid fa-chevron-right"></i>
            <div class="sidebar-body" style="display: none;">
              {% if paragraph.field_focusbox_body_1 is not empty %}
                <a href="{{ paragraph.field_focusbox_link_1.0.url }}" class="{{ macros.link_color_class(paragraph.field_focusbox_link_color_1.value) }}">
                  <div class="sidebar-product-description">
                    {{ content.field_focusbox_body_1 }}
                  </div>
                </a>
              {% endif %}
              {% if paragraph.field_focusbox_image_1 is not empty %}
                <div class="sidebar-product-image">
                  <img src="{{ file_url(paragraph.field_focusbox_image_1.entity.uri.value) }}" alt="Sidebar Image">
                </div>


              {% endif %}

            </div>
          </li>

        {% endif %}

        {% if paragraph.field_focusbox_heading_2 is not empty %}
          <li class="sidebar-item">
        <span>

          <span class="sidebar-heading-text">{{ content.field_focusbox_heading_2 }}</span>
          </span>
            <i class="fa-solid fa-chevron-right"></i>
            <div class="sidebar-body" style="display: none;">
              {% if paragraph.field_focusbox_body_2 is not empty %}
                <a href="{{ paragraph.field_focusbox_link_2.0.url }}" class="{{ macros.link_color_class(paragraph.field_focusbox_link_color_2.value) }}">
                  <div class="sidebar-product-description">
                    {{ content.field_focusbox_body_2 }}
                  </div>
                </a>
              {% endif %}
              {% if paragraph.field_focusbox_image_2 is not empty %}
                <div class="sidebar-product-image">
                  <img src="{{ file_url(paragraph.field_focusbox_image_2.entity.uri.value) }}" alt="Sidebar Image">
                </div>


              {% endif %}

            </div>
          </li>

        {% endif %}

        {% if paragraph.field_focusbox_heading_3 is not empty %}
          <li class="sidebar-item">
        <span>

          <span class="sidebar-heading-text">{{ content.field_focusbox_heading_3 }}</span>
          </span>
            <i class="fa-solid fa-chevron-right"></i>
            <div class="sidebar-body" style="display: none;">
              {% if paragraph.field_focusbox_body_3 is not empty %}
                <a href="{{ paragraph.field_focusbox_link_3.0.url }}" class="{{ macros.link_color_class(paragraph.field_focusbox_link_color_3.value) }}">
                  <div class="sidebar-product-description">
                    {{ content.field_focusbox_body_3 }}
                  </div>
                </a>
              {% endif %}
              {% if paragraph.field_focusbox_image_3 is not empty %}
                <div class="sidebar-product-image">
                  <img src="{{ file_url(paragraph.field_focusbox_image_3.entity.uri.value) }}" alt="Sidebar Image">
                </div>


              {% endif %}

            </div>
          </li>

        {% endif %}

        {% if paragraph.field_focusbox_heading_4 is not empty %}
          <li class="sidebar-item">
        <span>

          <span class="sidebar-heading-text">{{ content.field_focusbox_heading_4 }}</span>
          </span>
            <i class="fa-solid fa-chevron-right"></i>
            <div class="sidebar-body" style="display: none;">
              {% if paragraph.field_focusbox_body_4 is not empty %}
                <a href="{{ paragraph.field_focusbox_link_4.0.url }}" class="{{ macros.link_color_class(paragraph.field_focusbox_link_color_4.value) }}">
                  <div class="sidebar-product-description">
                    {{ content.field_focusbox_body_4 }}
                  </div>
                </a>
              {% endif %}
              {% if paragraph.field_focusbox_image_4 is not empty %}
                <div class="sidebar-product-image">
                  <img src="{{ file_url(paragraph.field_focusbox_image_4.entity.uri.value) }}" alt="Sidebar Image">
                </div>


              {% endif %}

            </div>
          </li>

        {% endif %}

        {% if paragraph.field_focusbox_heading_5 is not empty %}
          <li class="sidebar-item">
        <span>

          <span class="sidebar-heading-text">{{ content.field_focusbox_heading_5 }}</span>
          </span>
            <i class="fa-solid fa-chevron-right"></i>
            <div class="sidebar-body" style="display: none;">
              {% if paragraph.field_focusbox_body_5 is not empty %}
                <a href="{{ paragraph.field_focusbox_link_5.0.url }}" class="{{ macros.link_color_class(paragraph.field_focusbox_link_color_5.value) }}">
                  <div class="sidebar-product-description">
                    {{ content.field_focusbox_body_5 }}
                  </div>
                </a>
              {% endif %}
              {% if paragraph.field_focusbox_image_5 is not empty %}
                <div class="sidebar-product-image">
                  <img src="{{ file_url(paragraph.field_focusbox_image_5.entity.uri.value) }}" alt="Sidebar Image">
                </div>

              {% endif %}

            </div>
          </li>

        {% endif %}




      </ul>
    </div>
    <div class="sidebar-content">
      <div class="sidebar-box">
        <div class="box-content">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {

    var accordions = document.querySelectorAll('.sidebar-accordion-wrapper');

    accordions.forEach(function(accordion) {
      var sidebarItems = accordion.querySelectorAll('.sidebar-item');
      var boxContent = accordion.querySelector('.box-content');

      sidebarItems.forEach(function(item) {
        item.addEventListener('click', function() {
          var bodyText = item.querySelector('.sidebar-body').innerHTML;
          boxContent.innerHTML = bodyText;
          boxContent.style.display = 'flex';

          var activeItems = accordion.querySelectorAll('.sidebar-item.active');
          activeItems.forEach(function(activeItem) {
            if (activeItem !== item) {
              activeItem.classList.remove('active');
            }
          });

          item.classList.add('active');
        });
      });

      var firstSidebarItem = accordion.querySelector('.sidebar-item');
      if(firstSidebarItem) {
        firstSidebarItem.classList.add('active');
        boxContent.innerHTML = firstSidebarItem.querySelector('.sidebar-body').innerHTML;
        boxContent.style.display = 'flex';
      }
    });
  });

</script>
