
{% set image_position_class = content.field_fifty_fifty_layout[0]['#markup'] == 'Billede højre/Tekst venstre' ? 'image-right' : 'image-left' %}
{% set text_position_class = content.field_fifty_fifty_text_layout[0]['#markup'] == 'Center tekst alignment' ? 'text-align-center' : 'text-align-left' %}
{% set selectedColor = content.field_fifty_fifty_bg_color['#items'].getString() %}
{% set selectedButtonColor = content.field_fifty_fifty_btn_color['#items'].getString() %}

{% set color_map = {
  'bg_orange': '#A36933',
  'bg_grey': '#c3c2b3',
  'bg_darkblue': '#002c3e',
  'bg_darkgreen': '#2f4f3c',
  'bg_greyblue': '#66687d',
  'bg_sand': '#Ece0d9',
  'bg_lightgrey': '#E3e4dd',
  'bg_lightblue': '#D0dcd8'
} %}

{% set text_color_map = {
  'bg_orange': 'text-side-white',
  'bg_grey': 'text-side-black',
  'bg_darkblue': 'text-side-white',
  'bg_darkgreen': 'text-side-white',
  'bg_greyblue': 'text-side-white',
  'bg_sand': 'text-side-black',
  'bg_lightgrey': 'text-side-black',
  'bg_lightblue': 'text-side-black'
} %}

{% set button_color_classes = {
  'btn_blue': 'button-blue',
  'btn_lightblue': 'button-lightblue',
  'btn_red': 'button-red',
  'btn_lightred': 'button-lightred',
  'btn_black': 'button-black'
} %}

{% set background_color = color_map[selectedColor]|default('#ffffff') %}
{% set text_color_class = text_color_map[selectedColor]|default('text-side-black') %}
{% set button_class = button_color_classes[selectedButtonColor]|default('button-default') %}



<div class="paragraph-50-50-wrapper {{ image_position_class }}">
  {% if paragraph.field_fifty_fifty_image is not empty %}
  <div class="image-side">
      {{ content.field_fifty_fifty_image }}
  </div>
  {% endif %}
  {% if paragraph.field_fifty_fifty_video is not empty and paragraph.field_fifty_fifty_image is empty %}
  <div class="image-side">
    {{ content.field_fifty_fifty_video }}
  </div>
  {% endif %}
  {% if paragraph.field_fifty_fifty_iframe is not empty and paragraph.field_fifty_fifty_image is empty and paragraph.field_fifty_fifty_video is empty %}
  <div class="image-side">
    {{ content.field_fifty_fifty_iframe }}
  </div>
  {% endif %}
  <div style="background-color: {{ background_color }};" class="text-side {{ text_position_class }} {{ text_color_class }}">
    <h2>{{ content.field_fifty_fifty_heading.value }}</h2>
    <div class="paragraph-50-50-description">
      {{ content.field_fifty_fifty_desc }}
    </div>
    {% if content.field_fifty_fifty_link %}
      <div class="cta-buttons {{ text_position_class }} {{ button_class }}">
        {{ content.field_fifty_fifty_link }}
      </div>
    {% endif %}
  </div>
</div>
