<div class="action-buttons d-none d-lg-block pt-6">
  <div class="flexy-list">
    <div>
      <a href="#" class="action-button" onclick="window.print();">
        {# <img src="{{ base_path ~ directory }}/dist/images/action-buttons/print-white.svg" class="action-button__icon action-button__icon--white" alt="{{ 'Print' | trans }}" /> #}
        {# <img src="{{ base_path ~ directory }}/dist/images/action-buttons/print-green.svg" class="action-button__icon action-button__icon--green" alt="{{ 'Print' | trans }}" />
        <img src="{{ base_path ~ directory }}/dist/images/action-buttons/print-orange.svg" class="action-button__icon action-button__icon--orange" alt="{{ 'Print' | trans }}" /> #}
        <svg xmlns="http://www.w3.org/2000/svg" width="18.341" height="15.542" viewBox="0 0 18.341 15.542"><defs><style></style></defs><g transform="translate(-14 15)"><path class="a" d="M19.755.047a3.177,3.177,0,0,0-3.174,3.174v.016H15.6a3.178,3.178,0,0,0-3.174,3.174V9.233a3.16,3.16,0,0,0,2.334,3.047l-1,2.589a.529.529,0,0,0,.494.72H28.778a.529.529,0,0,0,.493-.72l-.985-2.554a3.16,3.16,0,0,0,2.476-3.079V6.414a3.177,3.177,0,0,0-3.173-3.177H26.6V3.221A3.177,3.177,0,0,0,23.423.047Zm0,1.058h3.668A2.116,2.116,0,0,1,25.54,3.221v.016h-7.9V3.221a2.116,2.116,0,0,1,2.116-2.116ZM15.594,4.3H27.587A2.116,2.116,0,0,1,29.7,6.412V9.234a2.11,2.11,0,0,1-1.8,2.083l-.926-2.4a.529.529,0,0,0-.494-.339H16.546a.529.529,0,0,0-.494.339l-.917,2.376a2.11,2.11,0,0,1-1.657-2.058V6.412A2.116,2.116,0,0,1,15.594,4.3Zm1.314,5.34h9.209l1.888,4.893H15.02Zm1.727,1.693a.529.529,0,1,0,0,1.058H24.5a.529.529,0,1,0,0-1.058Z" transform="translate(1.579 -15.047)"/></g></svg>
        {{ 'Print' | trans }}
      </a>
    </div>

    <div>
      <a href="http://www.adgangforalle.dk/" class="action-button" target="_blank">
        {# <img src="{{ base_path ~ directory }}/dist/images/action-buttons/audio-white.svg" class="action-button__icon action-button__icon--white" alt="{{ 'Læs højt' | trans }}" /> #}
        {# <img src="{{ base_path ~ directory }}/dist/images/action-buttons/audio-green.svg" class="action-button__icon action-button__icon--green" alt="{{ 'Læs højt' | trans }}" />
        <img src="{{ base_path ~ directory }}/dist/images/action-buttons/audio-orange.svg" class="action-button__icon action-button__icon--orange" alt="{{ 'Læs højt' | trans }}" /> #}
        <svg xmlns="http://www.w3.org/2000/svg" width="21.501" height="14.818" viewBox="0 0 21.501 14.818"><defs><style></style></defs><g transform="translate(-11.67 -18.812)"><path class="a" d="M43.634,19.682a.564.564,0,1,0-.772.823,8.6,8.6,0,0,1,.4,12.153.564.564,0,0,0,.823.772A9.731,9.731,0,0,0,43.634,19.682Z" transform="translate(-13.54 -0.313)"/><path class="a" d="M40.464,22.962a.564.564,0,0,0-.772.823,5.989,5.989,0,0,1,.276,8.452.562.562,0,0,0,.794.794,7.116,7.116,0,0,0-.3-10.069Z" transform="translate(-12.156 -1.745)"/><path class="a" d="M37.245,26.232a.563.563,0,1,0-.766.823,3.381,3.381,0,0,1,.158,4.755.564.564,0,1,0,.8.794A4.507,4.507,0,0,0,37.245,26.232Z" transform="translate(-10.74 -3.161)"/><path class="a" d="M23.153,18.957a1.037,1.037,0,0,0-1.059,0l-5.73,3.414h-3.1a1.6,1.6,0,0,0-1.595,1.617V28.5a1.6,1.6,0,0,0,1.595,1.6h3.1L22.1,33.477a1.048,1.048,0,0,0,.563.152,1.071,1.071,0,0,0,.518-.141,1.042,1.042,0,0,0,.563-.918V19.876a1.042,1.042,0,0,0-.6-.918ZM15.941,28.986H13.264a.473.473,0,0,1-.468-.473V23.989a.473.473,0,0,1,.468-.473h2.676Zm6.62,3.5-5.493-3.257V23.256L22.561,20Z"/></g></svg>
        {{ 'Læs højt' | trans }}
      </a>
    </div>

    <div>
      <a href="#" class="js-decrease-font-size" aria-label="{{ 'Formindsk tekst' | trans }}">
        {{ 'A-' | trans }}
      </a>
    </div>

    <div>
      <a href="#" class="js-increase-font-size" aria-label="{{ 'Forstør tekst' | trans }}">
        {{ 'A+' | trans }}
      </a>
    </div>
  </div>
</div>
