{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="container-fluid px-0">
      <div class="row no-gutters slider-text justify-content-center justify-content-md-end">
        <img class="one-third align-self-end order-md-last img-fluid" src="/sites/default/files/2022-04/topimage.png" alt="test">
        <div class="one-forth">
        {% include '@fds_green_theme/includes/action-buttons.html.twig' %}
          <div class="text align-self-center">
            <h1>Dit overblik over hjælp i Frederiksberg Kommune</h1>
            <p>Her kan du få overblik over hvordan du bedst muligt kan hjælpe dig selv. Vi hjælper dig med råd, vejledning og viden, hvor du kan finde svar på dine spørgsmål. Du har også mulighed for at søge dig frem.</p>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
</div>
