{% set unique_id = 'paragraph-' ~ random() %}

{% set total_files_count =
  (esdh_documents|default([])|length) +
  (field_document_reference_items|default([])|length) %} {# Adjust this logic based on your actual structure #}

{% if content.field_edoc_heading|render|striptags|trim is not empty %}
  <h2>{{ content.field_edoc_heading }}</h2>
{% else %}
  <h2 class="files-default-heading">Bilag</h2>
{% endif %}

<div id="{{ unique_id }}" class="documents-wrapper edoc-only">
  {% set file_index = 0 %}

  {# Render ESDH Documents if any #}
  {% if esdh_documents %}
    <div class="esdh-documents">
      {% for document in esdh_documents %}
        <div class="document-item {{ file_index >= 5 ? 'hidden' : '' }}">{{ document }}</div>
        {% set file_index = file_index + 1 %}
      {% endfor %}
    </div>
  {% endif %}

  {# Render items from field_document_reference if any #}
  {% if field_document_reference_items %}
    <div class="directly-referenced-documents">
      {% for item in field_document_reference_items %}
        <div class="document-item {{ file_index >= 5 ? 'hidden' : '' }}">
          {{ item }}
        </div>
        {% set file_index = file_index + 1 %}
      {% endfor %}
    </div>
  {% endif %}

  {% if total_files_count > 5 %}
    <button id="show-more-files-edoc" class="show-more-files-edoc">+ Vis flere</button>
  {% endif %}

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const paragraphs = document.querySelectorAll('.documents-wrapper.edoc-only');

    paragraphs.forEach(function(paragraph) {
      const showMoreButton = paragraph.querySelector('.show-more-files-edoc');
      let isExpanded = false; // Keep track of the state

      if (showMoreButton) {
        showMoreButton.addEventListener('click', function() {
          const elements = paragraph.querySelectorAll('.document-item');
          if (isExpanded) {
            // Hide elements by re-adding 'hidden' class
            elements.forEach(function(element, index) {
              if (index >= 5) { // Only hide elements that are beyond the first 5
                element.classList.add('hidden');
              }
            });
            showMoreButton.innerText = '+ Vis flere';
          } else {
            // Show all elements by removing 'hidden' class
            elements.forEach(element => element.classList.remove('hidden'));
            showMoreButton.innerText = '- Skjul';
          }
          isExpanded = !isExpanded; // Toggle the expanded state
        });
      }
    });
  });
</script>
