{%
  set classes = [
  'element-wrapper-link',
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'search-block-page',
]
%}
<a href="{{ url }}" {{ attributes.addClass(classes) }}>
	<h3 class="title">{{ label }}</h3>
	<p>
	{{ content }}
	</p>
  {% if row._entity.get('path') %}
    <div class="search-result-breadcrumb">
      <nav class="breadcrumb">
        <ol>
          {# Split nodens sti ved hjælp af '/'-tegn #}
          {% set node_path_segments = row._entity.get('path').getAlias()|split('/') %}

          {# Byg brødkrumme-array med de enkelte sti-segmenter #}
          {% set breadcrumb = [{ text: 'Home', url: '/' }] %}
          {% for i, segment in node_path_segments %}
            {% set breadcrumb_item = { text: segment, url: breadcrumb[i].url ~ '/' ~ segment } %}
            {% set breadcrumb = breadcrumb|merge([breadcrumb_item]) %}
          {% endfor %}

          {% for item in breadcrumb %}
            <li{{ loop.last ? ' class="active"' : '' }}>
              {% if item.url %}
                <a href="{{ item.url }}">{{ item.text }}</a>
              {% else %}
                {{ item.text }}
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </nav>
    </div>
  {% endif %}
</a>
