{% set classes = [
  'banner',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }} {% if background_image and not paragraph.field_os2web_banner_video.value %} style="background-image: url({{ background_image }})" {% endif %}>
        <div class="container">
            {% block content %}
                {% if paragraph.field_os2web_banner_heading.value or paragraph.field_os2web_banner_subheading.value or paragraph.field_os2web_banner_body.value or paragraph.field_os2web_banner_links.value %}
                    <div class="banner__box">

                        {% if paragraph.field_os2web_banner_heading.value %}
                            <div class="banner__heading">
                                {{ content.field_os2web_banner_heading }}
                            </div>
                        {% endif %}

                        {% if paragraph.field_os2web_banner_subheading.value or paragraph.field_os2web_banner_body.value %}
                            <div class="banner__body">
                                {{ content.field_os2web_banner_subheading }}
                                {{ content.field_os2web_banner_body }}
                            </div>
                        {% endif %}

                        {% if paragraph.field_os2web_banner_links.value %}
                            <div class="banner__actions">
                                {{ content.field_os2web_banner_links }}
                            </div>
                        {% endif %}

                    </div>
                {% endif %}



            {% endblock %}
        </div>

        {# Video Handling #}
        {% if paragraph.field_os2web_banner_video is not empty %}
            {% for item in paragraph.get('field_os2web_banner_video') %}
                <div class="banner__video">
                    <video id="banner-video" autoplay muted loop>
                        {% set video_file = item.entity.field_media_video_file.entity %}
                        <source src="{{ file_url(video_file.uri.value) }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <button class="custom-pause-button" onclick="togglePause()">
                        <i class="fa fa-pause" aria-hidden="true"></i>
                        <span class="visually-hidden">Tryk her for at pause eller fortsætte videoen.</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock paragraph %}

<script>
    function togglePause() {
        const video = document.getElementById('banner-video');
        const buttonIcon = document.querySelector('.custom-pause-button i');

        if (video.paused) {
            video.play();
            buttonIcon.classList.remove('fa-play');
            buttonIcon.classList.add('fa-pause');
        } else {
            video.pause();
            buttonIcon.classList.remove('fa-pause');
            buttonIcon.classList.add('fa-play');
        }
    }
</script>
