<header class="d-print-none">
  <div class="custom-header">
    <div class="custom-header-row custom-header-row--meta">
      <div class="container">
        <div class="flexy-row">
          {{ page.header__logo }}

          <div class="d-none d-lg-block">
            {{ page.header__top_navigation }}
          </div>
           {# <div class="flexy-row font-resize-row">
            <button class="visible-sm js-decrease-font-size">A-</button>
            <button class="visible-sm js-increase-font-size">A+</button>
          </div> #}
          <div class="top-search-wrapper">
            <div class="top-search-inner-wrapper">
              {{ page.small_search }}
              <div class="close-search-wrapper">
                <button id="close-search" class="close-search-btn"><i class="fa-solid fa-xmark"></i></button>
              </div>
            </div>

          </div>

          <div class="megamenu-overlay"></div>
          <div class="megamenu-wrapper">
            <button class="megamenu-close"><i class="fa-solid fa-xmark"></i></button>
            <div class="megamenu-inner-wrapper">
              {{ page.header__megamenu_navigation }}
            </div>
          </div>

          <div class="search-megamenu-btns-wrapper">
            <div class="search-btn-wrapper">
              <button id="nav-search" class="search-btn">
                <i class="fa-solid fa-magnifying-glass" style="color: #e82f4c;"></i>
              </button>
            </div>

            <div class="megamenu-burger-button-wrapper">
              <button class="burger-btn">
                <span class="bar bar-1"></span>
                <span class="bar bar-2"></span>
                <span class="bar bar-3"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if node.field_status_banner_reference.entity and node.field_status_banner_reference.entity.field_status_banner_color.value is not empty %}

      <div data-node-id="{{ node.id }}" class="status-banner" style="{% if node.field_status_banner_reference.entity.field_status_banner_color.value == 'alert' %} background-color: #e82f4c;
        {% elseif node.field_status_banner_reference.entity.field_status_banner_color.value == 'warning' %} background-color: #f2ef96;
        {% elseif node.field_status_banner_reference.entity.field_status_banner_color.value == 'alright' %}background-color: #007200; {% endif  %}">
        <div class="container">
          <div class="status-banner-heading" style="{% if node.field_status_banner_reference.entity.field_status_banner_color.value in ['alert', 'alright'] %} color: white; {% else %} color:black; {% endif %}">
            {{ node.field_status_banner_reference.entity.field_status_heading.value }}
          </div>
          <div class="status-banner-body {% if node.field_status_banner_reference.entity.field_status_banner_color.value in ['alert', 'alright'] %} white-text {% endif  %}">
            {{ node.field_status_banner_reference.entity.field_status_body.value|raw }}
            <button class="status-banner-close-btn">{% if node.field_status_banner_reference.entity.field_status_banner_color.value == 'warning' %}{% include '@fds_fredericia_main_theme/src/images/svg-icons/close.svg' with { close_icon_color: "black" } %} {% else %}{% include '@fds_fredericia_main_theme/src/images/svg-icons/close.svg' with { close_icon_color: "white" } %} {% endif%} </button>
          </div>
        </div>
      </div>
    {% endif %}
    {{ page.alert_banner }}
    {{ page.banner_search }}
    <div class="custom-header-row custom-header-row--desktop-navigation d-none d-lg-flex">
      <div class="container">
        <div class="flexy-row">
          {{ page.header__main_navigation }}
          <div class="flexy-spacer"></div>
        </div>
      </div>
    </div>
  </div>
</header>



{{ page.featured_top }}

{% if not is_front %}
  <div class="section section--breadcrumb-bar d-print-none layout--hidden-on-sections">
    <div class="">
      <div class="flexy-row">
        {{ page.breadcrumb }}

        <div class="flexy-spacer"></div>

        {% include '@fds_fredericia_main_theme/includes/action-buttons.html.twig' %}
      </div>
    </div>
  </div>
{% endif %}
