<footer class="footer-alternativ-wrapper">
  <div class="footer-alternativ-inner container">
    <div class="footer-alternativ-column-1">
      {{ content.field_footer_column_1 }}
    </div>


    <div class="footer-alternativ-column-2">
      {% if content.field_footer_column_2_heading is not empty %}
      <h2>{{ content.field_footer_column_2_heading }}</h2>
      {% endif %}
      {% if content.field_footer_column_2 is not empty %}
      <div class="column-2-links">
        {{ content.field_footer_column_2 }}
      </div>
      {% endif %}
      <div class="socials-footer-alternativ">
        {% if content.field_footer_alternativ_facebook.0 %}
        <div>
          <a href="{{ content.field_footer_alternativ_facebook.0['#url'] }}" title="{{ content.field_footer_alternativ_facebook.0['#title'] }}">
            <span class="icon fa-brands fa-square-facebook"></span>
          </a>
        </div>
        {% endif %}
        {% if content.field_footer_alternativ_insta.0 %}
          <div>
            <a href="{{ content.field_footer_alternativ_insta.0['#url'] }}" title="{{ content.field_footer_alternativ_insta.0['#title'] }}">
              <span class="icon fa fa-instagram"></span>
            </a>
          </div>
        {% endif %}
        {% if content.field_footer_alternativ_linkedin.0 %}
          <div>
            <a href="{{ content.field_footer_alternativ_linkedin.0['#url'] }}" title="{{ content.field_footer_alternativ_linkedin.0['#title'] }}">
              <span class="icon fa fa-linkedin"></span>
            </a>
          </div>
        {% endif %}
        {% if content.field_footer_alternativ_youtube.0 %}
          <div>
            <a href="{{ content.field_footer_alternativ_youtube.0['#url'] }}" title="{{ content.field_footer_youtube_facebook.0['#title'] }}">
              <span class="icon fa fa-youtube"></span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="footer-alternativ-column-3">
      {% if content.field_footer_column_3_heading is not empty %}
      <h2>{{ content.field_footer_column_3_heading }}</h2>
      {% endif %}
      {% if content.field_footer_column_3 is not empty %}
      <div class="column-3-links">
        {{ content.field_footer_column_3 }}
      </div>
      {% endif %}
    </div>

  </div>
</footer>
