<div class="hero-wrapper">
  <div class="hero__inner-wrapper">
    <div class="hero__text-wrapper">
      {% if paragraph.field_hero_heading.value  %}
      <h1 data-aos="fade-in">{{ content.field_hero_heading }}</h1>
      {% endif %}
      {% if paragraph.field_hero_body.value %}
      <div class="hero__body-text">
        {{ content.field_hero_body }}
      </div>
      {% endif %}
      {% if paragraph.field_main_cta_button.value or paragraph.field_secondary_cta_button.value  %}
      <div class="hero__cta-wrapper">
        {% if paragraph.field_main_cta_button.value %}
        <div class="main-cta-btn-wrapper">
          <a class="main-cta-btn" href="{{ paragraph.field_main_cta_button.0.url }}"><span>{{ paragraph.field_main_cta_button.0.title }}</span>{% include "@bellcom_theme/assets/images/arrow-right-small.svg" %}</a>
        </div>
        {% endif %}
        {% if paragraph.field_secondary_cta_button.value %}
        <div class="secondary-cta-btn-wrapper">
          <a class="secondary-cta-btn" href="{{ paragraph.field_secondary_cta_button.0.url }}"><span>{{ paragraph.field_secondary_cta_button.0.title }}</span> {% include "@bellcom_theme/assets/images/arrow-right.svg" %}</a>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="hero__element-wrapper">
      <a href="#" class="hero__element hero__element-one">
        <img src="/themes/custom/subsites/bellcom_theme/assets/images/placeholder-img-4.jpg">
        <div class="hero__element-overlay"></div>
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">Selvbetjening</span>
            <span class="hero__element-text-suffix">Offentlig/Privat</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" %}
          </div>
        </div>
      </a>
      <a href="#" class="hero__element hero__element-two">
        <img src="/themes/custom/subsites/bellcom_theme/assets/images/placeholder-img-2.jpg">
        <div class="hero__element-overlay"></div>
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">Webplatforme</span>
            <span class="hero__element-text-suffix">Offentlig/Privat</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" %}
          </div>
        </div>
      </a>
      <a href="#" class="hero__element hero__element-three">
        <img src="/themes/custom/subsites/bellcom_theme/assets/images/placeholder-img-3.jpg">
        <div class="hero__element-overlay"></div>
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">Datascanner</span>
            <span class="hero__element-text-suffix">Offentlig/Privat</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" %}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
