{% set selectedBackground = content.field_hero_bgcolor[0]['#context']['value'] | default('#000000') %}
{% set selectedTextColor = content.field_hero_txt_color['#items'].getString() %}
{% set selectedBtnColor = content.field_primary_btn_color['#items'].getString() %}
<div class="hero-wrapper" style="background-color: {{ selectedBackground }}; {% if paragraph.field_hero_bg_image.value %} background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{ file_url(paragraph.field_hero_bg_image.entity.fileuri) }}); background-size: cover; {% endif %}">
  <div class="hero__inner-wrapper">
    <div class="hero__text-wrapper">
      {% if paragraph.field_hero_heading.value  %}
      <h1 data-aos="fade-in" data-aos-duration="800" data-aos-easing="ease" data-aos-once="true" style="color: {% if selectedTextColor in ['white']  %} #fff; {% else %} #000; {% endif %}">{{ content.field_hero_heading }}</h1>
      {% endif %}
      {% if paragraph.field_hero_body.value %}
      <div data-aos="fade-in" data-aos-duration="800" data-aos-delay="500" data-aos-easing="ease" data-aos-once="true" style="color: {% if selectedTextColor in ['white'] %} #fff; {% else %} #000; {% endif %}" class="hero__body-text">
        {{ content.field_hero_body }}
      </div>
      {% endif %}
      {% if paragraph.field_main_cta_button.value or paragraph.field_secondary_cta_button.value  %}
      <div class="hero__cta-wrapper">
        {% if paragraph.field_main_cta_button.value %}
        <div data-aos="fade-in" data-aos-duration="800" data-aos-delay="1000" data-aos-once="true" class="main-cta-btn-wrapper">
          <a style="{% if selectedBtnColor in ['white'] %}background-color: #fff; color: black;
          {% elseif selectedBtnColor in ['green'] %} background-color: #344e41; color: white; {% else %} background-color: #000; color: white; {% endif %}"
             class="main-cta-btn" href="{{ paragraph.field_main_cta_button.0.url }}">
            <span>{{ paragraph.field_main_cta_button.0.title }}</span>
            {% if selectedTextColor in ['black'] or paragraph.field_hero_bg_image.value is not empty %}
            {% include "@bellcom_theme/assets/images/arrow-right-small.svg" with { custom_color: "black" } %}
            {% else %}
            {% include "@bellcom_theme/assets/images/arrow-right-small.svg" with { custom_color: "white" } %}
            {% endif %}
          </a>
        </div>
        {% endif %}
        {% if paragraph.field_secondary_cta_button.value %}
        <div data-aos="fade-in" data-aos-duration="800" data-aos-delay="1000" data-aos-once="true" class="secondary-cta-btn-wrapper">
          <a style="{% if selectedTextColor in ['white'] %} color: white;
          {% else %} color: black; {% endif %}"
             class="secondary-cta-btn" href="{{ paragraph.field_secondary_cta_button.0.url }}">
            <span id="secondary-btn">{{ paragraph.field_secondary_cta_button.0.title }}</span>
            {% if selectedTextColor in ['white'] %}
              {% include "@bellcom_theme/assets/images/arrow-right.svg" with { custom_color: "white" } %}
            {% else %}
              {% include "@bellcom_theme/assets/images/arrow-right.svg" with { custom_color: "black" } %}
            {% endif %}</a>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="hero__element-wrapper" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="1500" data-aos-once="true">
      {% if paragraph.field_image_1.value %}
      <a href="{{ paragraph.field_link_image_1.0.url }}" class="hero__element hero__element-one" style="{% if paragraph.field_image_2.value is empty and
        paragraph.field_image_3.value is empty and
        paragraph.field_image_4.value is empty %} grid-area: 1 / 1 / 3 / 3;
         {% elseif paragraph.field_image_4.value is empty %} grid-area: 1 / 1 / 3 / 2; {% endif %}">
        {% if paragraph.field_image_1.value %}
        <img src="{{ file_url(paragraph.field_image_1.entity.fileuri) }}"  alt="{{ paragraph.field_image_1.alt }}" title="{{ paragraph.field_image_1.title }}">
        {% endif %}
        <div class="hero__element-overlay"></div>
        {% if paragraph.field_title_image_1.value %}
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">{{ content.field_title_image_1 }}</span>
            <span class="hero__element-text-suffix">{{ content.field_suffix_1 }}</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" with { custom_color: "black" } %}
          </div>
        </div>
        {% endif %}
      </a>
      {% endif %}
      {% if paragraph.field_image_2.value %}
      <a href="{{ paragraph.field_link_image_2.0.url }}" class="hero__element hero__element-two" style="{% if paragraph.field_image_3.value is empty and
        paragraph.field_image_4.value is empty %} grid-area: 1 / 2 / 3 / 3; {% endif %}">
        <img src="{{ file_url(paragraph.field_image_2.entity.fileuri) }}" alt="{{ paragraph.field_image_2.entity.alt }}" title="{{ paragraph.field_image_2.entity.title }}">
        <div class="hero__element-overlay"></div>
        {% if paragraph.field_title_image_2.value %}
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">{{ content.field_title_image_2 }}</span>
            <span class="hero__element-text-suffix">{{ content.field_suffix_2 }}</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" with { custom_color: "black" } %}
          </div>
        </div>
        {% endif %}
      </a>
      {% endif %}
      {% if paragraph.field_image_3.value %}
      <a href="{{ paragraph.field_link_image_3.0.url }}" class="hero__element hero__element-three" style="{% if paragraph.field_image_4.value is empty %} grid-area: 2 / 2 / 3 / 3; {% endif %}">
        <img src="{{ file_url(paragraph.field_image_3.entity.fileuri) }}" alt="{{ paragraph.field_image_3.entity.alt }}" title="{{ paragraph.field_image_3.entity.title }}">
        <div class="hero__element-overlay"></div>
        {% if paragraph.field_title_image_3.value %}
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">{{ content.field_title_image_3 }}</span>
            <span class="hero__element-text-suffix">{{ content.field_suffix_3 }}</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" with { custom_color: "black" } %}
          </div>
        </div>
        {% endif %}
      </a>
      {% endif %}
      {% if paragraph.field_image_4.value %}
      <a href="{{ paragraph.field_link_image_4.0.url }}" class="hero__element hero__element-four">
        <img src="{{ file_url(paragraph.field_image_4.entity.fileuri) }}" alt="{{ paragraph.field_image_4.entity.alt }}" title="{{ paragraph.field_image_4.entity.title }}">
        <div class="hero__element-overlay"></div>
        {% if paragraph.field_title_image_4.value %}
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">{{ content.field_title_image_4 }}</span>
            <span class="hero__element-text-suffix">{{ content.field_suffix_4 }}</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" with { custom_color: "black" } %}
          </div>
        </div>
        {% endif %}
      </a>
      {% endif %}
    </div>
  </div>
</div>

<style>
 #secondary-btn:after {
   background-color: {% if selectedTextColor in ['white'] %} white; {% else %} black; {% endif %}
 }
</style>

