<div class="slider-wrapper">
  <div class="slider-inner-wrapper">
    <div class="slider-header">
      <div class="slider-prefix">
        {% include "@bellcom_theme/assets/images/arrow-right-small.svg" with { custom_color: "white" } %}
        <span>{{ content.field_cards_slider_prefix }}</span>
      </div>
      <h2>{{ content.field_cards_slider_heading }}</h2>
    </div>

    <!-- Swiper Navigation Above -->
    <div class="slider-controls">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <!-- Swiper -->
    <div class="swiper">
      <!-- Wrapper for slides -->
      <div class="swiper-wrapper">
        {% for item in paragraph.field_cards_slider_content_ref %}
          {% set classIndex = (loop.index - 1) % 3 + 1 %}
          <a href="{{ item.entity.field_slide_link.uri }}" target="_blank" rel="noopener noreferrer" class="swiper-slide class{{ classIndex }}">
            {% if item.entity.field_slide_image.entity %}
              <img src="{{ file_url(item.entity.field_slide_image.entity.fileuri) }}" alt="{{ item.entity.field_slide_image.alt }}" />
            {% endif %}
            <div class="swiper-content">
            {% if item.entity.field_slide_prefix.value %}
              <div class="slide-prefix">{{ item.entity.field_slide_prefix.value }}</div>
            {% endif %}
            <div class="slide-heading">
              <h3>{{ item.entity.label }}</h3>
            </div>
            {% if item.entity.field_body.value %}
              <div class="card-slide-body">
                {{ item.entity.field_body.value }}
              </div>
            {% endif %}
              <button class="card-slider-btn">Læs mere{% include "@bellcom_theme/assets/images/arrow-right-small.svg" with { custom_color: "white" } %}</button>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>

  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.swiper', {
      slidesPerView: 3,
      spaceBetween: 30,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>
