{% set selectedBackground = content.field_hero_bgcolor['#items'].getString() %}
<div class="hero-wrapper" style="background-color:{% if selectedBackground == 'black' %} #212529;
{% elseif selectedBackground == 'white' %} #fff; {% elseif selectedBackground == 'green' %} #344E41
{% elseif selectedBackground == 'blue' %} #22223B; {% elseif selectedBackground == 'grey' %} #343A40;
{% elseif selectedBackground == 'sand' %} #DAD7CD; {% endif %} {% if paragraph.field_hero_bg_image.value %} background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{ file_url(paragraph.field_hero_bg_image.entity.fileuri) }}); background-size: cover; {% endif %}">
  <div class="hero__inner-wrapper">
    <div class="hero__text-wrapper">
      {% if paragraph.field_hero_heading.value  %}
      <h1 data-aos="fade-right" style="color: {% if selectedBackground in ['black', 'blue', 'green', 'grey']  %} #fff; {% else %} #000; {% endif %}">{{ content.field_hero_heading }}</h1>
      {% endif %}
      {% if paragraph.field_hero_body.value %}
      <div style="color: {% if selectedBackground in ['black', 'blue', 'green', 'grey'] %} #fff; {% else %} #000; {% endif %}" class="hero__body-text">
        {{ content.field_hero_body }}
      </div>
      {% endif %}
      {% if paragraph.field_main_cta_button.value or paragraph.field_secondary_cta_button.value  %}
      <div class="hero__cta-wrapper">
        {% if paragraph.field_main_cta_button.value %}
        <div class="main-cta-btn-wrapper">
          <a style="{% if selectedBackground in ['black', 'grey', 'green', 'blue'] %}background-color: #fff; color: black;
          {% else %} background-color: #344e41; color: white; {% endif %}"
             class="main-cta-btn" href="{{ paragraph.field_main_cta_button.0.url }}">
            <span>{{ paragraph.field_main_cta_button.0.title }}</span>
            {% if selectedBackground in ['black', 'grey', 'green', 'blue'] %}
            {% include "@bellcom_theme/assets/images/arrow-right-small.svg" with { custom_color: "black" } %}
            {% else %}
            {% include "@bellcom_theme/assets/images/arrow-right-small.svg" with { custom_color: "white" } %}
            {% endif %}
          </a>
        </div>
        {% endif %}
        {% if paragraph.field_secondary_cta_button.value %}
        <div class="secondary-cta-btn-wrapper">
          <a style="{% if selectedBackground in ['black', 'grey', 'green', 'blue'] %} color: white;
          {% else %} color: black; {% endif %}"
             class="secondary-cta-btn" href="{{ paragraph.field_secondary_cta_button.0.url }}">
            <span id="secondary-btn">{{ paragraph.field_secondary_cta_button.0.title }}</span>
            {% if selectedBackground in ['black', 'grey', 'green', 'blue'] %}
              {% include "@bellcom_theme/assets/images/arrow-right.svg" with { custom_color: "white" } %}
            {% else %}
              {% include "@bellcom_theme/assets/images/arrow-right.svg" with { custom_color: "black" } %}
            {% endif %}</a>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="hero__element-wrapper">
      <a href="#" class="hero__element hero__element-one">
        <img src="/themes/custom/subsites/bellcom_theme/assets/images/placeholder-img-4.jpg">
        <div class="hero__element-overlay"></div>
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">Selvbetjening</span>
            <span class="hero__element-text-suffix">Offentlig/Privat</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" %}
          </div>
        </div>
      </a>
      <a href="#" class="hero__element hero__element-two">
        <img src="/themes/custom/subsites/bellcom_theme/assets/images/placeholder-img-2.jpg">
        <div class="hero__element-overlay"></div>
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">Webplatforme</span>
            <span class="hero__element-text-suffix">Offentlig/Privat</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" %}
          </div>
        </div>
      </a>
      <a href="#" class="hero__element hero__element-three">
        <img src="/themes/custom/subsites/bellcom_theme/assets/images/placeholder-img-3.jpg">
        <div class="hero__element-overlay"></div>
        <div class="hero__element-widget">
          <div class="hero__element-text">
            <span class="hero__element-text-header">Datascanner</span>
            <span class="hero__element-text-suffix">Offentlig/Privat</span>
          </div>
          <div class="hero__element-icon">
            {% include "@bellcom_theme/assets/images/arrow-right.svg" %}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<style>
 #secondary-btn:after {
   background-color: {% if selectedBackground in ['black', 'grey', 'green', 'blue'] %} white; {% else %} black; {% endif %}
 }
</style>

