{% set activate_btm_banner = paragraph.field_activate_btm_banner.value == 1 %}
{% set banner_color = content.field_btm_banner_color[0] ? content.field_btm_banner_color[0]['#context']['value'] : '' %}
{% set banner_image_url = content.field_btm_banner_image[0] ? file_url(content.field_btm_banner_image[0]['#item'].entity.uri.value) : '' %}

<div class="icon-grid-wrapper" style="{{ activate_btm_banner ? 'padding-bottom: 100px;' : '' }}">
  <div class="icon-grid-inner-wrapper">
  {% if content %}
    <div class="grid-container">
      {% for i in 1..6 %}
        {% set imageField = 'field_box_' ~ i ~ '_image' %}
        {% set headingField = 'field_box_' ~ i ~ '_heading' %}
        {% set bodyField = 'field_box_' ~ i ~ '_body' %}

        {% if content[imageField] or content[headingField] or content[bodyField] %}
          <div data-aos="fade-in" data-aos-duration="800" data-aos-easing="ease" data-aos-once="true" class="grid-item">
            {% if content[imageField] %}
              <div class="item-image">{{ content[imageField] }}</div>
            {% endif %}
            <div class="heading-body-wrapper">
            {% if content[headingField] %}
              <h2 class="item-heading" style="color: {{ content.field_headings_color.0|default('#000000') }}">{{ content[headingField] }}</h2>
            {% endif %}

            {% if content[bodyField] %}
              <div class="item-body">{{ content[bodyField] }}</div>
            {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  </div>
  <div class="bottom-banner" style="{{ not activate_btm_banner ? 'display: none;' : (banner_image_url ? 'background-image: url(' ~ banner_image_url ~ ');' : (banner_color ? 'background-color: ' ~ banner_color ~ ';' : '')) }}">

  </div>
</div>
