<div class="slider-wrapper">
  <div class="slider-header">
    <span>{{ content.field_cards_slider_prefix }}</span>
    <h2>{{ content.field_cards_slider_heading }}</h2>
  </div>
  <div class="slider-controls">
    <button id="prevBtn">Previous</button>
    <button id="nextBtn">Next</button>
  </div>
  <div class="slider">
    {% for item in paragraph.field_cards_slider_content_ref %}
      <div class="slide">
        {% if item.entity.field_slide_image.entity %}
          <img src="{{ file_url(item.entity.field_slide_image.entity.fileuri) }}" alt="{{ item.entity.field_slide_image.alt }}" />
        {% endif %}
        {% if item.entity.field_slide_prefix.value %}
          <div class="slide-prefix">{{ item.entity.field_slide_prefix.value }}</div>
        {% endif %}
        <h3>{{ item.entity.label }}</h3>
        {% if item.entity.field_body.value %}
          <p>{{ item.entity.field_body.value }}</p>
        {% endif %}
        {% if item.entity.field_slide_link.uri %}
          <a href="{{ item.entity.field_slide_link.uri }}">Learn More</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
