{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'paragraph--image-position--' ~ image_position,
  'clearfix',
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

    <div class="row">
      <div class="col-12">
        {# Begin - heading #}
        <h2>Kontakt: {{ content.field_os2web_cnt_heading.0 }}</h2>
        {# End - heading #}
      </div>

      <div class="col-12 col-sm-6">
        {# Begin - subheading #}
        {{ content.field_os2web_cnt_subheading }}
        {# End - subheading #}

        {# Begin - address #}
        {{ content.field_adresse }}
        {# End - address #}

        {# Begin - zipcode city #}
        {{ content.field_postnummer }} {{ content.field_by }}
        {# End -city #}

        {# Begin - phone #}
        {{ content.field_os2web_cnt_phone }}
        {# End - phone #}

        {# Begin - email #}
        <a href="mailto:{{ content.field_os2web_cnt_email.0 }}">{{ content.field_os2web_cnt_email.0 }}</a>
        {# End - email #}
      </div>

      <div class="col-12 col-sm-6">
        {# Begin - open_hours #}
        {{ content.field_os2web_cnt_open_hours }}
        {# End - open_hours #}
      </div>

      <div class="col-12 spacer"></div>

      <div class="col-12 col-sm-9 os2web_cnt_body">
        <p>Hvis du ønsker at sende følsomme eller fortrolige oplysninger til Ringsted Kommune, eksempelvis dit cpr.nr., oplysninger om dine helbredsforhold eller økonomiske situation, anbefales du at gøre det via e-boks. <a href="#">Læs om beskyttelse af persondata</a></p>
        {# Begin - body #}
        {{ content.field_os2web_cnt_body }}
        {# End - body #}

        {# Begin - link #}
        {{ content.field_os2web_cnt_link }}
        {# End - link #}

        {# Begin - website #}
        {% if content.field_os2web_cnt_website %}
          <div>
            <a href="{{ content.field_os2web_cnt_website.0 }}" target="_blank">{{ content.field_os2web_cnt_website.0 }}</a>
          </div>
        {% endif %}
        {# End - website #}

        {# Begin - facebook #}
        {% if content.field_os2web_cnt_facebook %}
          <div>
            <a href="{{ content.field_os2web_cnt_facebook.0 }}" target="_blank">Facebook.com</a>
          </div>
        {% endif %}
        {# End - facebook #}
      </div>
    </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
