{%
  set classes = [
  'element-wrapper-link',
  'row',
  'px-0',
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
  <div {{ attributes.addClass(classes) }} aria-label="{{ 'Read more about' | trans }}-{{ node.field_os2web_news_heading.value|striptags|trim }} ">

    {#  <div class="col-lg-4 col-12 entity-{{ view_mode|clean_class }}__image">
      <a href="{{ url }}" >
        {{ content.field_os2web_news_primaryimage }}
      </a>
    </div> #}

    <div class="col-12 py-6 entity-{{ view_mode|clean_class }}__body">
      <a href="{{ url }}" >
        {{ content.field_os2web_news_heading }}
       </a>
      {{ content.field_os2web_news_article_date }}
      <div class="field field--type-body">
        {{content.field_os2web_news_description | render }}
      </div>
    </div>
  </div>
