{%
  set classes = [
  'element-wrapper-link',
  '',
  'px-0',
  'py-6',
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
<div>
  <a href="{{ url }}" {{ attributes.addClass(classes) }} aria-label="{{ 'Read more about' | trans }} {{ node.field_os2web_news_heading.value }}">
    <div class="col-md-4 col-12 entity-{{ view_mode|clean_class }}__image">
      {{ content.field_os2web_news_primaryimage }}
    </div>
  
    <div class="col-md-8 col-12 py-6 entity-{{ view_mode|clean_class }}__body">
      {{ content.field_os2web_news_heading }}
  
      {{ content.field_os2web_news_article_date }}
  
      {% set text = content.field_os2web_news_description | render %}
      <div class="field field--type-body">
        {{ text | striptags }}
      </div>
    </div>
  </a>
</div>
