<div class="action-buttons d-md-block">
  <div class="flexy-list">
    <div>
      <ul>
        <li>
          <a href="#" class="action-button print" onclick="window.print();">
          {{ 'Print' | trans }}
          </a>
        </li>
      {% if show_newsletter_action %}
        <li>
          <a class="newsletter" href="{{ url('<front>') }}/abonner">{{ 'Nyhedsbrev' | trans }}</a>
        </li>
      {% endif %}
      </ul>
    </div>

    <div class="share-wrapper">
      <a title="Del på Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}">
        <i class="fa fa-facebook-official fa-3x"></i>
      </a>
      <a title="Del på Twitter" href="http://www.twitter.com/share?url={{ url('<current>') }}">
        <i class="fa fa-twitter-square fa-3x"></i>
      </a>
      <a title="Del på Linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{ url('<current>') }}">
        <i class="fa fa-linkedin-square fa-3x"></i>
      </a>
    </div>
  </div>
</div>
