<div class="action-buttons d-md-block">
  <div class="flexy-list">
    <div>
      <a href="#" class="action-button print" onclick="window.print();">
        {{ 'Print' | trans }}
      </a>
    </div>
    {% if show_newsletter_action %}
    <div>
      <a class="newsletter" href="{{ url('<front>') }}/abonner">{{ 'Nyhedsbrev' | trans }}</a>
    </div>
    {% endif %}
    <div class="share-wrapper">
      <p><strong>Del p책:</strong></p>
      <a title="Del p책 Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}">
        <i class="fa fa-facebook-official fa-3x"></i>
      </a>
      <a title="Del p책 Twitter" href="http://www.twitter.com/share?url={{ url('<current>') }}">
        <i class="fa fa-twitter-square fa-3x"></i>
      </a>
      <a title="Del p책 Linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{ url('<current>') }}">
        <i class="fa fa-linkedin-square fa-3x"></i>
      </a>
    </div>
  </div>
</div>
