{%
  set classes = [
  'element-wrapper-link',
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
]
%}
{% set pageTeaserText = content.field_os2web_news_description | render %}

<a href="{{ url }}" class="news-teaser" aria-label="{{ 'Read more about' | trans }} {{ node.field_os2web_news_heading.value }}">
  <i class="fa-solid fa-arrow-right"></i>
  <div class="news-teaser-body">
    {{ content.field_os2web_news_heading }}
    <div class="news-teaser-text">
      {{ pageTeaserText | striptags }}
    </div>
    {% if menu_hierarchy %}
      <div class="my-breadcrumbs">
        {% for item in menu_hierarchy %}
          <div class="breadcrumb-item">{{ item }}</div>
          {% if not loop.last %} {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</a>
