{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('h4') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
  {% set sidebarLinkText = theme_get_setting('sidebar_link_text') %}
  {% set sidebarLinkUrl = theme_get_setting('sidebar_link_url') %}
  <a class="go-to-all-selfservice" href="{{ selfserviceLinkUrl }}">{{ selfserviceLinkText }}</a>
</div>
